@model IEnumerable<Article>

@{
    ViewData["Title"] = "About the Games";
    Layout = "_Layout";
}

<h2>About the Games</h2>

@foreach (var article in Model)
{
    <partial name="_ArticleCard" model="article" />
}